<div id="calcBody">
	<table>
		<tr>
			<td colspan="4" id="input">
				<div>{{equation}}</div>
				<input type="text" ng-model="values.displayValue"/>

			</td>
		</tr>
		<tr>
			<td><button ng-click="clearValue(true)">CE</button></td>
			<td><button ng-click="clearValue(true)">C</button></td>
			<td><button ng-click="backTrack()">Bck</button></td>
			<td><button ng-click="setOperation('/')">&#247;</button></td>
		</tr>
		<tr>
			<td><number-button my-click='setValue'>7</number-button></td>
			<td><number-button my-click='setValue'>8</number-button></td>
			<td><number-button my-click='setValue'>9</number-button></td>
			<td><button ng-click="setOperation('*')">x</button></td>
		</tr>
		<tr>
			<td><number-button my-click='setValue'>4</number-button></td>
			<td><number-button my-click='setValue'>5</number-button></td>
			<td><number-button my-click='setValue'>6</number-button></td>
			<td><button ng-click="setOperation('-')">-</button></td>
		</tr>
		<tr>
			<td><number-button my-click='setValue'>1</number-button></td>
			<td><number-button my-click='setValue'>2</number-button></td>
			<td><number-button my-click='setValue'>3</number-button></td>
			<td><button ng-click="setOperation('+')">+</button></td>
		</tr>
		<tr>
			<td><number-button my-click='setValue'>0</number-button></td>
			<td><button ng-click="setValue('.');">.</button></td>
			<td colspan="2" class="number"><button id="equalsign" ng-click="evaluate()">=</button></td>
		</tr>
	</table>
</div>