<div id="calcBody">
	<table>
		<tr>
			<td colspan="4" id="input"><input type="text" value="0"/></td>
		</tr>
		<tr>
			<td>CE</td>
			<td>C</td>
			<td>Bck</td>
			<td>/</td>
		</tr>
		<tr>
			<td class="number">7</td>
			<td class="number">8</td>
			<td class="number">9</td>
			<td>X</td>
		</tr>
		<tr>
			<td class="number">4</td>
			<td class="number">5</td>
			<td class="number">6</td>
			<td>-</td>
		</tr>
		<tr>
			<td class="number">1</td>
			<td class="number">2</td>
			<td class="number">3</td>
			<td>+</td>
		</tr>
		<tr>
			<td class="number">0</td>
			<td>.</td>
			<td colspan="2" class="number" id="equalsign">=</td>
		</tr>

	</table>
</div>